.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://source.unsplash.com/random/1920x1080);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h1{
  background: #ffffffa1;
  border: 1px solid #ffffff2e;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 0 0 10px 0;
  list-style-type: none;
  box-shadow: 0 0 50px 8px rgb(10 10 10 / 28%), 0 3px 4px -2px rgb(10 10 10 / 25%);
  cursor: default;
}
